@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.banner
{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 2%;
    font-family: 'Inter var', sans-serif;
    font-weight: 740;
    letter-spacing: -0.080em;
    font-size: 4em;
    text-indent: -0.03em;
}
.banner2
{
    padding-left : 1%;
    font-family: 'Inter var', sans-serif;
    font-weight: 540;
    letter-spacing: -0.080em;
    font-size: 1em;
    text-indent: -0.03em;
}
.banner3
{
    font-family: 'Inter var', sans-serif;
    font-weight: 640;
    letter-spacing: -0.080em;
    font-size: 2rem;
    text-indent: -0.03em;
    display: block;
    justify-items: right;
}